.app {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #007bff;
}

.description {
  margin-bottom: 20px;
  font-size: 18px;
}

.input-container {
  margin-top: 20px;
  max-width: 300px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
